@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ToDo</h1>
    <br /><br />
    <p>회원번호</p>
    <form>
        <input type="text" /><br /><br />
        <input type="submit" value="접속" />
        <input type="button" value="회원번호찾기" />
    </form>
</div>
